# build output
dist/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.history/
.astro

# environment variables
.env
.env.production
.env.development

# macOS-specific files
.DS_Store
.astro/

# google
src/cle-analytics.json
# Local Netlify folder
.netlify
.vercel
