h1 {
  @apply mb-3 text-2xl lg:text-4xl;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  @apply font-semibold text-purple-900;
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  @apply font-semibold text-purple-900 mt-10 mb-6 text-2xl lg:text-3xl;
}

.post-content p,
.post-content ul,
.post-content li,
.post-content strong {
  @apply my-6 text-base;
}

.post-content blockquote {
  @apply relative italic my-7 w-full px-12 py-4 bg-purple-50 border-l-4 border-gray-300;
}

.post-content blockquote p {
  @apply m-0;
}

.post-content blockquote:before {
  content: '“';
  font-family: 'Times New Roman', serif;
  font-size: 6em;
  font-weight: bold;
  position: absolute;
  left: -8px;
  top: 4px;
  opacity: 0.25;
}

pre {
  @apply mb-3 px-6 py-4 bg-gray-200 border-l-4 border-gray-300 w-full overflow-auto;
}

.post-content .time {
  @apply mb-4 lg:mb-5 text-sm text-gray-800 dark:text-gray-400;
}

.post-content .time .highlight {
  @apply text-purple-800 dark:text-gray-400;
}

.wrapper-post {
  @apply relative lg:justify-between max-w-6xl mx-auto lg:flex;
}

.wrapper-table-of-content {
  @apply lg:max-w-xs max-h-screen sticky order-last top-0;
}
