h1 {
  @apply mb-3 text-2xl md:text-4xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold text-indigo-700;
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold text-indigo-700 mt-10 mb-6 text-2xl md:text-3xl;
}

p,
ul,
li,
strong {
  @apply my-6 text-base;
}

blockquote {
  @apply relative italic my-7 w-full px-12 py-4 bg-indigo-50 border-l-4 border-gray-300;
}

.post___table-of-content___heading {
  font-family: 'Polysans', 'sans-serif';
  @apply text-indigo-700  font-semibold text-xl md:text-3xl;
}

blockquote p {
  @apply m-0;
}

blockquote:before {
  content: '“';
  font-family: 'Times New Roman', serif;
  font-size: 6em;
  font-weight: bold;
  position: absolute;
  left: -8px;
  top: 4px;
  opacity: 0.25;
}

pre {
  @apply mb-3 px-6 py-4 bg-gray-200 border-l-4 border-gray-300 w-full overflow-auto;
}

.time {
  @apply mb-4 md:mb-10 text-sm text-gray-800 dark:text-gray-400;
}

.time .highlight {
  @apply text-indigo-800 dark:text-gray-400;
}

.wrapper-post {
  @apply relative md:justify-between max-w-6xl mx-auto md:flex;
}

.wrapper-table-of-content {
  @apply md:max-w-xs  max-h-screen sticky order-last top-0;
}

li.depth {
  @apply my-2 text-sm;
}

li.depth-2 {
  @apply my-2  ml-2;
}

li.depth-3 {
  @apply my-2  ml-4;
}

.depth-3 {
  @apply my-2  ml-6;
}

.depth-4 {
  @apply my-2  ml-8;
}

.depth-5 {
  @apply my-2  ml-10;
}

.depth-6 {
  @apply my-2  ml-12;
}
