---
import { allPosts } from "@lib/api";
import { client } from "@lib/sanityClient";
import SanityBlockContent from "../../components/SanityBlockContent";

export async function getStaticPaths() {
  const allBlogPosts = await client.fetch(allPosts);
  return allBlogPosts.map((post: any) => ({params: { slug: post.slug.current }, props: {post}}));
}

const { post } = Astro.props;

---
<div class="bg-gradient-to-r from-indigo-500 min-h-screen overflow-auto">
  <div class="container mx-auto">
    <h1 class="text-white font-medium text-3xl">{post.title}</h1>
    <SanityBlockContent />
  </div>
</div>

