---
import BaseLayout from '@layouts/BaseLayout.astro';
import PostCard from '@features/blog/components/PostCard/index.astro';
import SafeMail from '@components/SafeMail.astro';
import { getGraphHome } from '@helpers/getGraphHome';
import fetchSanity from '@helpers/fetchSanity';
import {
  queryHome,
  type HomeQueryResult,
} from '@features/home/queries/queryHome';
import type { Post } from '@interfaces/SanitySchema';
import { SectionsSwitch } from '@features/home/components/SectionsSwitch';

import { SectionPresentation } from '@features/home/components/SectionPresentation';

const sanityHome = await fetchSanity<HomeQueryResult>(queryHome);
const home = sanityHome?.allHome?.[0] ?? null;

const schema = getGraphHome();
const description =
  'Développeur React freelance et créateur de site internet depuis 2012. Spécialisé dans le développement front de site web en Javascript avec React.';

const sections = home?.sections ?? [];
---

<BaseLayout
  title={home?.seoTitle ?? 'Développeur React et Typescript Freelance'}
  description={home?.seoDescription ?? description}
  schema={schema}
  canonical="/"
>
  <div slot="main">
    <SectionsSwitch sections={sections} />

    <!-- 02847c164813f253 -->
    <section
      class="mt-12 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 py-12"
    >
      <h2 class="max-w-7xl mx-4 md:mx-auto text-2xl font-bold mb-6">
        📰 Mes derniers articles de développeur freelance (front, back, SEO...)
      </h2>
      <ul
        class="max-w-7xl mx-4 md:mx-auto grid grid-cols-1 gap-16 lg:grid-cols-3"
      >
        <!-- {postsHome && postsHome.allPost.map((post) => <PostCard post={post} />)} -->
      </ul>
    </section>

    <SectionPresentation />
  </div>
</BaseLayout>

<style>
  .list {
    list-style-type: disc;
  }

  .conteneur {
    margin: auto;
    max-width: 60ch;
  }
  .banner {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .banner img {
    border-radius: 100%;
  }

  .instructions {
    line-height: 1.6;
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
