---
import type { Frontmatter } from '@interfaces/Frontmatter';
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import getPostsByCategory from '@helpers/getPostsByCategory';
import fetchSanity from '@helpers/fetchSanity';
import { queryAllPosts } from '@features/blog/queries/queryAllPosts';
import type { SanityAllPost } from '@features/blog/interfaces/SanityAllPost';

const sanityPosts = await fetchSanity<SanityAllPost>(queryAllPosts);
const categoriesPosts = sanityPosts && getPostsByCategory(sanityPosts.allPost);
---

<BaseLayout
  title="Plan du site | Johan Petrikovsky développeur React freelance"
  description="Plan du site internet de Johan Petrikovsky, développeur freelance React. Retrouvez une liste de toutes les pages du site internet"
>
  <Header slot="before-main" />
  <section slot="main" class="py-12 max-w-6xl mx-auto">
    <h1>Plan du site</h1>
    <ul class="my-6">
      <li class="my-2">
        <a href="/" title="Johan Petrikovsky, Développeur React Freelance"
          >Développeur React Freelance
        </a>
      </li>
      <li class="my-2">
        <a href="/posts">Articles</a>
        <ul class="ml-4">
          {
            categoriesPosts &&
            categoriesPosts.map((categoryPosts) => (
              <li>
                <span class="block my-2">
                  Catégorie <strong>{categoryPosts.category}</strong>
                </span>
                <ul class="mx-4">
                  {categoryPosts.posts.map((post) => (
                    <li>
                      <a href={`/posts/${post?.slug?.current}`}>
                        {post?.title}
                      </a>
                    </li>
                  ))}
                </ul>
              </li>
            ))
          }
        </ul>
      </li>
    </ul>
  </section>
</BaseLayout>

<style>
  ul {
    margin-bottom: 1rem;
  }
  ul > ul {
    margin-left: 1rem;
  }
  a {
    transition: 0.125s linear;
  }
  a:hover {
    @apply text-pink-500;
  }
</style>
