---
import type { Comment } from '@interfaces/SanitySchema';
import { capitalizeFirstLetter, getFrenchDate } from 'src/utils';

interface AstroProps {
  comment: Comment;
}

const { comment } = Astro.props as AstroProps;

const dateComment = getFrenchDate(comment._createdAt);
---

<article class="comment">
  <p class="pseudo">
    {capitalizeFirstLetter(comment.pseudo)}<span class="separator">,</span>
    <span class="date"> le {dateComment}</span>
  </p>
  <p class="content">{comment.content}</p>
</article>

<style lang="scss">
  article {
    margin-bottom: 1rem;
  }
  .pseudo {
    font-weight: bold;
  }
  .date,
  .separator {
    @apply font-normal text-sm;
  }
  .content {
    margin-top: 0.5rem;
    line-height: 1.2;
    color: #000;
  }
</style>
