---
import type { CategoryPosts } from '@features/blog/interfaces/CategoryPosts';
import PostCard from '@features/blog/components/PostCard/index.astro';

interface AstroProps {
  categoryPosts: CategoryPosts;
}

const { categoryPosts } = Astro.props as AstroProps;
---

{
  <section class="my-10">
    <h2 class="font-semibold text-purple-900 mt-10 mb-6 text-3xl">
      {categoryPosts.category.title}
    </h2>
    <ul class="grid grid-cols-1 gap-16 lg:grid-cols-2">
      {categoryPosts.posts.map((post) => (
        <PostCard post={post} />
      ))}
    </ul>
  </section>
}

<style>
  .post-card h3,
  .post-card .read-more {
    transition: color 0.15s linear;
  }
  .post-card:hover h3,
  .post-card:hover .read-more {
    @apply text-purple-500;
  }
</style>
