---
import type { Comment } from '@interfaces/SanitySchema';
import CommentCard from './CommentCard.astro';

interface AstroProps {
  comments:
    | Comment[]
    | {
        error: any;
      };
}

const { comments } = Astro.props;
---

{
  Array.isArray(comments) && comments.length > 0 && (
    <section class="comments">
      <h2 class="secondary-title">Commentaires précédents</h2>
      {comments.map((comment) => (
        <CommentCard comment={comment} />
      ))}
    </section>
  )
}

<style lang="scss">
  .comments {
    @apply mb-16;
  }
</style>
