---

---

<section class="bg-white py-16 sm:py-32 lg:py-32">
  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="animated-clip relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
    <div class="mx-auto max-w-4xl">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div
          class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
        >
          12 ans à votre service. <a
            href="#"
            class="font-semibold text-indigo-600"
            ><span class="absolute inset-0" aria-hidden="true"></span>En savoir
            plus <span aria-hidden="true">&rarr;</span></a
          >
        </div>
      </div>
      <div class="">
        <h1
          class="text-4xl text-center font-bold tracking-tight text-gray-900 sm:text-6xl"
        >
          Développeur React Freelance <br />Spécialiste des Solutions Web <br
          />sur mesure
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          En tant que développeur React freelance expérimenté basé à Toulouse,
          j'accompagne les entreprises dans la création d'applications web
          performantes et sur mesure. Que ce soit pour une interface utilisateur
          moderne ou une solution scalable, je mets mon expertise à votre
          service pour garantir un développement de qualité, rapide et optimisé,
          adapté à vos besoins spécifiques.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a
            target="_blank"
            href="mailto:johan.petrikovsky@gmail.com"
            class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >Discutons de vos besoins</a
          >
          <a
            href="#section-references"
            class="text-sm font-semibold leading-6 text-gray-900"
            >Mes références <span aria-hidden="true">→</span></a
          >
        </div>
      </div>
    </div>
    <div
      class="absolute pointer-events-none inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
  </div>
</section>

<style>
  .animated-clip {
    animation: rotateShape 10s infinite linear;
  }

  @keyframes rotateShape {
    0% {
      transform: rotate(0deg) translateX(-50%);
    }
    100% {
      transform: rotate(360deg) translateX(-50%);
    }
  }
</style>
