---
import { NavDesktop } from '../NavDesktop';
import NavMobile from '../NavMobile/NavMobile.astro';
---

<div class="gradient-main">
  <header class="absolute inset-x-0 top-0 z-50">
    <NavDesktop />
    <NavMobile />
  </header>
</div>
